<div class="container">
    <section class="jumbotron btn-success">
        <div class="container">
            <h1 class="fancy"><i class="fa fa-trophy" aria-hidden="true"></i> Welcome to aWEna!</h1>
            <p>Our fans travel to sporting arenas/stadiums/parks all over the USA.  <a href="/register">Join the community</a> and add your favorite.</p>
        </div>
    </section>
    <uib-accordion close-others="oneAtATime">
      <h2 class="text-center" ng-show="!controller.loggedIn" class="panel-default">Please log in to add a new arena</h2>
    <div uib-accordion-group class="panel-default" heading="Add Arena" ng-show="controller.loggedIn">
      <form>
        <div class="form-group">
          <label>Arena Name:</label>
          <input type="text" ng-model="controller.stadium.name" class="form-control" placeholder="Arena Name" id="name" />
        </div>
        <div class="form-group">
          <label>City:</label>
          <input type="text" ng-model="controller.stadium.city" class="form-control" placeholder="City" id="city" />
        </div>
        <div class="form-group">
          <label>Sport:</label>
          <input type="text" ng-model="controller.stadium.sport" class="form-control" placeholder="Sport" id="sport" />
        </div>
        <div class="form-group">
          <label>Image URL:</label>
          <input type="text" ng-model="controller.file.url" class="form-control" id="url" />
        </div>
        <span><strong>
            {{controller.message}}
        </strong></span>
        <button ng-click="controller.pickFile()">Upload</button>
        <h2>{{controller.file.filename}}</h2>
        <img ng-src="{{controller.file.url | fpConvert:{w: 400} }}" alt="{{controller.file.filename}}" />
        <button ng-click="controller.save()" class="btn btn-primary" type="submit" id="button"
          ng-disabled="!controller.stadium.name || !controller.stadium.sport || !controller.file.url">Add Arena</button>
      </form>
    </div>
    </uib-accordion>
</div>

<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header">Arena Gallery</h1>
  </div>
  <div class="row flex">
    <div class="col-lg-3 col-md-4 col-xs-6 panel panel-default" ng-repeat="stadium in controller.stadiums|filter:{stadiumId:controller.stadiumId}">
      <div class="panel-body" href="#">
        <img class="img-responsive" ng-src="{{stadium.url}}" alt="">
        <div class="caption">
          <a href="#" ng-click="controller.showModal(stadium)"><h4>{{stadium.name}}</h4></a>
          <p>
            <h6 ng-show="!controller.currentUser">Must be logged in to comment</h6>
            <h6 ng-show="stadium.username != controller.currentUser && controller.currentUser != 'admin' ">Must be Owner to edit/delete</h6>
            <span data-toggle="tooltip" data-placement="top" title="edit" ng-show="stadium.username == controller.currentUser || controller.currentUser == 'admin' ">
              <a class="btn btn-info" href="/edit/{{stadium._id}}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
            </span>
            <span data-toggle="tooltip" data-placement="top" title="delete" ng-show="stadium.username == controller.currentUser || controller.currentUser == 'admin' ">
              <a class="btn btn-danger" href="#" ng-click="controller.remove(stadium._id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </span>
            <span style="float:right;" data-toggle="tooltip" data-placement="top" title="comment" ng-show="controller.currentUser">
              <a class="btn btn-success" href="#" ng-click="controller.showModal(stadium)">
                <i class="fa fa-comment-o" aria-hidden="true"></i>
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<uib-accordion close-others="oneAtATime">
<div uib-accordion-group class="panel-default" heading="Arenas in the Database">
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Arena Name</th>
      <th>City</th>
      <th>Sport</th>
      <th>Image URL</th>
      <th>Owner</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="stadium in controller.stadiums">
    <td>{{stadium.name}}</td>
    <td>{{stadium.city}}</td>
    <td>{{stadium.sport}}</td>
    <td><a href="{{stadium.url}}" target="_blank">{{stadium.url}}</a></td>
    <td>{{stadium.username}}</td>
    <td colspan=2 ng-show="stadium.username != controller.currentUser && controller.currentUser != 'admin' ">Must be Owner</td>
    <td ng-show="stadium.username == controller.currentUser || controller.currentUser == 'admin' "><a class="btn btn-info btn-sm" href="/edit/{{stadium._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
    <td ng-show="stadium.username == controller.currentUser || controller.currentUser == 'admin' "><a class="btn btn-danger btn-sm" href="#" ng-click="controller.remove(stadium._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
  </tr>
</tbody>
</table>
</div>
</div>
</uib-accordion>
