<div id="landing-body" class="container">
  <div id="landing-header">
    <h1>Welcome to aWEna!</h1>
    <div ng-controller="NavBarController as controller">
      <a ng-click="controller.goHome()" class="btn btn-lg btn-success">View All Arenas</a>
    </div>
  </div>

  <ul id="slideList" class="slideshow">
    <!-- <li ng-show="controller.slide != true" ng-repeat="stadium in controller.stadiums"><img ng-src={{stadium.url}}></li> -->
    <!-- <li><img ng-src={{controller.stadium}}></li> -->
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <!-- <ul id="slideList" class="slideshow">
    <li ng-repeat="stadium in controller.stadiums" style="color:black;">{{stadium.url}}{{stadium.name}}</li>
    <!<img ng-src={{stadium.url}}>
  </ul> -->
</div>

<style>
body {
  background-color: #000;
}
</style>
