<div class="modal-header">
    <h3 class="modal-title blue">Selected Stadium: {{modal.stadium.name}}</h3>
</div>
<div class="modal-body">
    <h4 class="green">City: {{modal.stadium.city}}</h4>
    <h4 class="purple">Sport: {{modal.stadium.sport}}</h4>
    <hr>
    <img class="modalImg" src="{{modal.stadium.url}}" alt="model picture" />
</div>
<div class="modal-footer">
  <div class="well">
    <table>
      <tr ng-repeat="comment in modal.comments">
        <td align=left><strong>{{comment.author}}</strong><br />
          {{comment.text}}
        </td>
        <!--<span class="pull-right">'modal.stadium.comments[0].date'</span>-->
      </tr>
    </table>
  </div>
    <input ng-show="modal.currentUser" style="display:block;" size="71" type="text" id="text" placeholder="comment" ng-model="modal.text" />
    <a ng-show="modal.currentUser" class="btn btn-success" ng-click="modal.save(modal.stadium._id)">Add New Comment</a>
    <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
</div>
