<!DOCTYPE html>
<html ng-app="stadiumapp">

<head>
  <title>aWEna!</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>

   <nav id="navbar" class="navbar navbar-inverse" ng-controller="NavBarController as controller">
     <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="fancy">aWEna!</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-show="controller.loggedIn">Signed in as {{controller.username}}</li>
          <li><a href="/login" ng-show="!controller.loggedIn">Login</a></li>
          <li><a href="/register" ng-show="!controller.loggedIn">Sign Up</a></li>
          <li><a ng-click="controller.logout()" ng-show="controller.loggedIn">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
        <ui-view></ui-view>
  </div>

  <footer id="footer" ng-controller="NavBarController as controller" style="background:black;">
    <ul class="footer">
      <li><i class="fa fa-copyright" aria-hidden="true"></i> ugacodedawg 2017</h4>
      <li><a href="mailto:travis.mcelroy@gmail.com">Email Me</a></li>
    </ul>
  </footer>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <script src="/bower_components/angular/angular_filepicker.min.js"></script>
  <script type="text/javascript" src="//static.filestackapi.com/v3/filestack-0.1.10.js"></script>

  <!-- Added: Latest compiled and minified Bootstrap/JQuery JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>
</body>

</html>
