body {
  background-color: #000;
}

#landing-header {
  padding-top: 40vh;
  position: relative;
  text-align: center;
  z-index: 1;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slideshow li {
  animation: imageAnimation 30s linear infinite;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slideshow li:nth-child(1) {
  background-image: url(https://cdn.filestackcontent.com/FXvQpIPMRimgcWSFvfRi);
}
.slideshow li:nth-child(2) {
  animation-delay: 5s;
  background-image: url(https://cdn.filestackcontent.com/0bO6vh5TZO9lqp8jga8X);
}
.slideshow li:nth-child(3) {
  animation-delay: 10s;
  background-image: url(https://cdn.filepicker.io/api/file/PDm7jrJIR62CoZxWFLmk);
}
.slideshow li:nth-child(4) {
  animation-delay: 15s;
  background-image: url(https://cdn.filepicker.io/api/file/1A2XftXwTayNrSvHtp7A);
}
.slideshow li:nth-child(5) {
  animation-delay: 20s;
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
}

@keyframes imageAnimation {
  5% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  15% {
    opacity: 1
  }
  20% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
